<ul class="list-items">
  <li class="list-item <%= 'active' if @page == 'introduce' %>">
    <%= link_to "About us", introduce_path %>
  </li>
  <li class="list-item <%= 'active' if @page == 'contact' %>">
    <%= link_to "Contact ", contact_path %>
  </li>
  <li class="list-item <%= 'active' if @page == 'help' %>">
    <%= link_to "Help ", help_path %>
  </li>
  <li class="list-item <%= 'active' if @page == 'term' %>">
    <%= link_to "Term", term_path %>
  </li>
</ul>
