<!-- <div class="container">
 <div class =" row ">
   <form>
    <div class "form-group">
    <h1> Điền thông tin Thanh toán </h1>
    <p> Tên: <%=text_field: %></p> 
    <p> Ho: <%= text_field: %></p>
    <p> Dia Chi </br> <%= text_field: %></p>
    <%= f.submit :Update %>

    <% if @user.errors.any ? %>
      <ul class ="Signup_form" %>
      <li>*<%=message_error %></li>
      <% end %>
      </ul>
    <% end %>
</div>
 -->

 <form id="checkout-form" class="inspectlet-sensitive">
            <div id="delivery-info" class="mb-30"><div><div id="delivery-info-container">
  <div class="row mb-10">
    <div class="col-md-12">
      <h4>Delivery Information</h4>
    </div>
  </div>


  <div class="row">
    <div class="form-group control-group col-xs-6 col-sm-5">
      <label class="form-label" for="delivery-info-first_name">First Name</label>
      <input id="delivery-info-first_name" data-nametype="First" name="first_name" class="form-input delivery-info-name" type="text" autocomplete="given-name">
    </div>
    <div class="form-group control-group col-xs-6 col-sm-5">
      <label class="form-label" for="delivery-info-last_name">Last Name</label>
      <input id="delivery-info-last_name" data-nametype="Last" name="last_name" class="form-input delivery-info-name" type="text" autocomplete="family-name">
    </div>
  </div>
  <div class="row">
    <div class="form-group control-group col-sm-5">
      <label class="form-label" for="delivery-info-address_line_1">Address Line 1 </label>
      <input id="delivery-info-address_line_1" name="address_line_1" class="form-input" type="text" autocomplete="address-line1">
    </div>
    <div class="form-group control-group col-sm-5">
      <label class="form-label" for="delivery-info-address_line_2">Address Line 2 <span class="optional">(optional)</span></label>
      <input id="delivery-info-address_line_2" class="form-input" type="text" autocomplete="address-line2">
    </div>
  </div>
  <div class="row">
    <div class="form-group control-group col-xs-6 col-sm-5">
      <label class="form-label" for="delivery-info-city">City</label>
      <input id="delivery-info-city" class="form-input" name="city" type="text" autocomplete="address-level2">
    </div>
    <div class="form-group control-group col-xs-3 reg-short-fields">
      <label class="form-label" for="delivery-info-state">State</label>
      <select class="form-select" id="delivery-info-state" name="state" type="text" autocomplete="address-level1"><option value=""> </option><option value="AL">AL</option><option value="AK">AK</option><option value="AZ">AZ</option><option value="AR">AR</option><option value="CA">CA</option><option value="CO">CO</option><option value="CT">CT</option><option value="DE">DE</option><option value="DC">DC</option><option value="FL">FL</option><option value="GA">GA</option><option value="HI">HI</option><option value="ID">ID</option><option value="IL">IL</option><option value="IN">IN</option><option value="IA">IA</option><option value="KS">KS</option><option value="KY">KY</option><option value="LA">LA</option><option value="ME">ME</option><option value="MD">MD</option><option value="MA">MA</option><option value="MI">MI</option><option value="MN">MN</option><option value="MS">MS</option><option value="MO">MO</option><option value="MT">MT</option><option value="NE">NE</option><option value="NV">NV</option><option value="NH">NH</option><option value="NJ">NJ</option><option value="NM">NM</option><option value="NY">NY</option><option value="NC">NC</option><option value="ND">ND</option><option value="OH">OH</option><option value="OK">OK</option><option value="OR">OR</option><option value="PA">PA</option><option value="PR">PR</option><option value="RI">RI</option><option value="SC">SC</option><option value="SD">SD</option><option value="TN">TN</option><option value="TX">TX</option><option value="UT">UT</option><option value="VT">VT</option><option value="VA">VA</option><option value="WA">WA</option><option value="WV">WV</option><option value="WI">WI</option><option value="WY">WY</option></select>
    </div>
    <div class="form-group control-group col-xs-3 reg-short-fields">
      <label class="form-label" for="delivery-info-zip">Zip</label>
      <input class="form-input" id="delivery-info-zip" name="zip" type="tel" autocomplete="postal-code">
    </div>
  </div>

  <div class="row">
    <div class="form-group control-group col-md-5  col-sm-10 ">
      <label class="form-label" for="delivery-info-phone">Phone Number</label>
      <input id="delivery-info-phone" class="form-input" name="phone" type="tel" autocomplete="tel-national">
    </div>

    <div class="form-group control-group col-xs-12 col-sm-10 col-md-5">
      <label class="form-label" for="delivery-info-special_instructions">
          Special Instructions <span class="optional">(optional)</span>
            <span id="js-instructionsHelpIcon" class="p-20 icon icon-tooltip" data-hasqtip="2" aria-describedby="qtip-2"></span>
      </label>
      <div id="instructions_help_content" style="display: none;">
        <p class="instructions-help-text">
          Please be as specific as possible. Instructions such as "leave at door" should indicate the type of door (e.g. exterior or interior door) and include any other helpful context, such as a code to enter the building.
        </p>
        <p class="instructions-help-text">
          You may also request your delivery be left with a doorman, neighbor, or at another nearby location (within a block or so).
        </p>
      </div>
        <input id="delivery-info-special_instructions" class="form-input" type="text" placeholder="e.g. Leave with the front office">
    </div>


    <div id="js-changeEmail"></div>
  </div>
  <div id="delivery-window" class="mobile-only"></div>
</div>
</div></div>
          <div id="billing-info"><div>

<div id="billing-info-container">
  <div class="row mb-10">
    <div class="col-xs-12">
      <h4>
        Billing Information
      </h4>
    </div>
  </div>
  <div class="row mb-10">
    <div class="form-group control-group col-sm-5">
      <div class="card-container">
        <input name="prevent_browser_auto_fill_hack" type="password" style="display:none">
        <label class="form-label" for="billing-info-card">Card Number</label>
        <input id="billing-info-card" data-validate="number" class="form-input" autocomplete="cc-number" type="tel">
        <div class="icon-card"></div>
        <div class="stripe-powered"></div>
      </div>
    </div>
    <div class="form-group control-group col-xs-6 col-sm-3 reg-short-fields">
      <input name="prevent_browser_auto_fill_hack" type="password" style="display:none">
      <label class="form-label" for="billing-info-expiration">Expiration</label>
        <input id="billing-info-expiration" data-validate="exp_date" placeholder="MM / YY" autocomplete="cc-exp" class="form-input" type="tel">
    </div>
    <div class="form-group control-group col-xs-6 col-sm-3 reg-short-fields">
      <div class="cvc-container">
        <input name="prevent_browser_auto_fill_hack" type="password" style="display:none">
        <label class="form-label" for="billing-info-cvc">CVC</label>
        <input id="billing-info-cvc" data-validate="cvc" class="form-input" autocomplete="cc-csc" pattern="[0-9]*" inputmode="tel">
        <span id="js-CvcHelpIcon" class="cvc-help-icon p-20" data-hasqtip="1" aria-describedby="qtip-1"><span class="icon-tooltip"></span></span>
        <div id="cvc_help_content" style="display: none;">
            <p class="cvc-help-text">
              The CVC code is a 3-4 digit security code on the front or back of your card:
            </p>
            <div class="cvc-image-wrapper">
              <img alt="Cvc-help-image" src="https://myba-media.blueapron.com/registration/assets/43f4b2fc8d5786647c2d3a155ef9971cb7ebae71/images/shared/cvc-help-image.png">
            </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="mb-10 desktop-only">
    <ul>
      <li class="encourage-box">
        <div class="icon icon-box"></div>
        <p class="encourage-text">
          Ingredients are carefully packaged in a refrigerated box so food stays fresh even if you’re not home when we deliver.
        </p>

      </li>
    <li class="encourage-box">
      <div class="icon icon-footer-calendar-check"></div>
        <p class="encourage-text">
          You may skip anytime on or before the "Changeable By" date reflected in your account settings.
        </p>
    </li>
  </ul>
</div>
<div class="row mobile-only encourage-mobile mb-20">
    <div class="icon icon-footer-calendar-check">
    </div>
    <div class="col-xs-9">
      <p>No commitment</p>
      You may skip anytime on or before the "Changeable By" date reflected in your account settings.
  </div>
</div>
</div></div>
        </form>
