<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

<div class="full-height scroll-bar">
  <div class="pad-bottom">
  <% if @ordered_recipes.length == 0 %>
      <p>Your cart is empty</p>
  <% else %>
  <table class="hoverable">
    <thead>
      <tr style="background-color:#BCAAA4;">
        <th data-field="id">S/N</th>
        <th data-field="name">Name</th>
        <th data-field="description">Description</th>
        <th data-field="quantity">Quantity</th>
        <th data-field="quantity">Delivery Time</th>
        <th data-field="price">Price</th>
        <th data-field="line total">Line Total</th>
      </tr>
    </thead>
    <tbody>

    <% @ordered_recipes.each_with_index do |details, index| %>

   <% recipe_id = details[1][:recipe][:id] %>
   
        <tr>
          <td><%= index %></td>
          <td ><%= details[1][:recipe]['name'] %></td>
          <td ><%= details[1][:recipe]['short_description'] %></td>
          <td ><%=form_for 'quantity', :url => {:controller => 'cart_items', :action => 'update', recipe_id: details[1][:recipe][:id], id: index }, method: :patch  do |f| %>
            <%= f.number_field details[1][:recipe][:quantity], :min => 1, :value => details[1][:quantity],  "data-message" => recipe_id %>
            <% end %>
          </td>
          <% if details[1][:recipe][:status] %>
            <td ><%= details[1][:recipe][:price] %></td>
            <td>N<span class="line-total" id="recipe_sub_total_<%= details[1][:recipe][:id] %>" data-message="<%= details[1][:recipe][:price] %>" ><%= details[1][:recipe][:price].to_i * details[1][:quantity].to_i %></span></td>
          <% else %>
            <td"><%= details[1][:recipe]['price'] %></td>
          <td>N<span class="line-total" id="recipe_sub_total_<%= details[1][:recipe][:id] %>" data-message="<%= details[1][:recipe]['price'] %>" ><%= details[1][:recipe]['price'].to_i * details[1][:qty].to_i %></span></td>
          <% end %>
          <td>
            <%= button_to cart_item_path(details[1][:recipe][:id]), method: :delete do %>
              <i class="material-icons">delete</i>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
      <tfoot>
        <tr style="border-top:2px solid #3e2511">
          <td></td>
          <td></td>
          <%# <td>Your recipe will be ready in <%= time_ago_in_words(@total_pickup_time.minutes.from_now)%> MAX</td> %>
          <td></td>
          <td></td>
          <td>Subtotal</td>
          <td>N<%= @total%></td>
        </tr>
      </tfoot>
    </table>
    <%#<%= button_to 'Checkout', checkout_path, :class => "btn" %> %>
    <% end %>
  </div>
</div>
